*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
i {
    cursor: pointer;
}

#root {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}

.content_wrapper {
    padding: 2%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
}

.logo img {
    width: 40%;
}

#new_task {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
}

#new_task:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#new_task i {
    font-size: 15px;
    color: #5A5C63;
}

#new_task p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #5A5C63;
}

.main_content {
    display: flex;
    gap: 2%;

}

.content_item {
    flex-basis: 24%;
    padding: 0 5px;
}

.content_title {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 34px;
    border-radius: 4px;
    padding: 0 10px;

    position: relative;

}

.content_title::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50px;
    left: 0;
}

.main_content .content_item:nth-child(1) .content_title,
.main_content .content_item:nth-child(1) .content_title::after{
    background-color: #00A6DA;
}

.main_content .content_item:nth-child(2) .content_title,
.main_content .content_item:nth-child(2) .content_title::after{
    background-color: #CCAC038F;
}
.main_content .content_item:nth-child(3) .content_title,
.main_content .content_item:nth-child(3) .content_title::after{
    background-color: #3BC057;
}
.main_content .content_item:nth-child(4) .content_title,
.main_content .content_item:nth-child(4) .content_title::after{
    background-color: #E74C3C;
}

.content_title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.content_title p {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.64px;
    text-align: center;
    color: #FFFFFF;
    width: 16px;
    padding: 2.5px;
    box-sizing: content-box;
    border-radius: 4px;
}
#todoCounter {
    background-color: #00CDDA;
}

#doingCounter {
    background-color: #DAB700;
}

#completedCounter {
    background-color: #69CE7E;
}

#blockedCounter {
    background-color: #E74C3C;
}

.main_area {
    /* border: 2px solid pink; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 72dvh;
    overflow-y: auto;
    margin-top: 30px;

}
.main_area::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    /* color: #5A5C63; */
} 
.main_area::-webkit-scrollbar-thumb {
    background-color: #999ba1;
    border-radius: 100px;
}
.main_area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 100px;
}
.task_area {

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 15px;
    box-shadow: 0px 4px 4px 0px #0000001A;

    cursor: grab;

}

.task_title {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.task_title_text {
    width: 80%;
}
.task_title_text p{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #4D8EFF;
    margin: 0 0 5px;
    word-wrap: break-word;
    word-break: break-word;
}

.task_title_text h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #393939;
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

.line {
    content: '';
    width: 73%;
    height: 0.76px;
    background-color:#DBDBDB ;

    position: absolute;
    top: 10px;
    left: 0;
}

.task_title_icon {
    display: flex;
    gap: 10px;
}

.task_title_icon i {
    font-size: 24px;
}

.task_content {
    padding: 20px 0;
    position: relative;
}

.task_main {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* display: flex;
    align-items: center; */

    color: #5A5C63;
    margin-bottom: 1px;
    word-wrap: break-word;
    word-break: break-word;

}

.task_date {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 10px;
}

.task_date p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #5A5C63;
}


    /* ----NEW_TODO---- */
#new_todo {
    display: none;
}
.background_task {
    background-color: #5A5C63;
    opacity: 0.4;
    width: 100dvw;
    width: 98.7dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    z-index: 20;
}
.new_todo_area {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFFFF;
    border-radius: 5px;
    width: 244px;
    width: 350px;
    /* height: 110px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_todo_area i {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #5A5C63;
}

.new_todo_area p {
    font-weight: 650;
    color: #5A5C63;
    font-size: 18px;
    padding: 15px 0;
}

.task_body {
    display: flex;
    flex-direction: column;
    padding: 0 18px 25px;
    gap: 10px;
}

.task_input,.task_submit {
    width: 100%;
}
.task_input input{
    width: 100%;
    margin-bottom: 10px;
}

.check_true {
    /* outline: 2px solid #3BC057; */
    border:  2px solid #3BC057;
}
.check_false {
    /* outline: 2px solid #3BC057; */
    border:  2px solid #ff0000;
}

#content {
    height: 100px;
}

input::placeholder, textarea::placeholder {
    font-family: 'Plus Jakarta Sans';
    font-weight: 300;
    font-size: 12.5px;
    padding-left: 2px;
}

#submit,#edit {
    width: 100%;
    padding: 2px;
}

#edit {
    display: none;
}

.task_choice {
    /* display: flex; */
    display: none;
    font-weight: 450;
    color: #5A5C63;
    font-size: 14px;
    justify-content: space-between;
}
.task_choice div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.dragging{
    border: 2px solid saddlebrown;
}

#logout {
    display: flex;
    gap: 2px;
    position: relative;
    left: 95%;
    bottom: 0;
    cursor: pointer;
    width: fit-content;
    align-items: center;
    font-size: 15px;
}